// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-size: 14px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.03);
}

.dashboard__index-table {
    margin-top: 25px;
}

.alert-danger ul {
    margin: 0;
}
